{
  "notice": "This file is maintained by MPaaS automatically.",
  "project": "MPTinyAppDemp_plugin",
  "copy": true,
  "targets": {
    "MPTinyAppDemp_plugin": {
      "author": "yemingyu",
      "time": "2020/03/26 16:09:57",
      "versions": {
        "mPaaS_LocalLog": {
          "APLog": "3.0.2.190701174234"
        },
        "mPaaS_Log": {
          "MPMasAdapter": "1.0.0.200116173050",
          "APRemoteLogging": "1.0.0.200227163723",
          "mPaas": "1.0.0.200210192055",
          "APLog": "3.0.2.190701174234",
          "UTDID": "1.0.2.190226130141",
          "APProtocolBuffers": "1.0.1.190906170603",
          "AutoTracker": "1.0.0.190909104429",
          "MPPerformance": "1.0.0.190911163314",
          "TianYan": "1.0.0.191211163039",
          "MPDataCenter": "1.0.0.190917163242",
          "APCrashReporter": "1.0.0.200108195846"
        },
        "mPaaS_DataCenter": {
          "MPDataCenter": "1.0.0.190917163242",
          "mPaas": "1.0.0.200210192055",
          "APLog": "3.0.2.190701174234"
        },
        "mPaaS_RPC": {
          "APMobileNetwork": "1.0.0.200219172832",
          "SecurityGuardSDK": "2.2.3.190326110928",
          "APSecurityUtility": "1.2.0.171012202618",
          "mPaas": "1.0.0.200210192055",
          "APLog": "3.0.2.190701174234",
          "APOpenSSL": "1.0.0.190226125531",
          "MPMgsAdapter": "1.0.0.191111163231"
        },
        "mPaaS_OpenSSL": {
          "APOpenSSL": "1.0.0.190226125531"
        },
        "mPaaS_Sync": {
          "APLongLinkService": "1.0.0.190917192001",
          "APLog": "3.0.2.190701174234",
          "APProtocolBuffers": "1.0.1.190906170603",
          "mPaas": "1.0.0.200210192055",
          "MPDataCenter": "1.0.0.190917163242",
          "SecurityGuardSDK": "2.2.3.190326110928",
          "UTDID": "1.0.2.190226130141",
          "MPMssAdapter": "1.0.0.190619161346"
        },
        "mPaaS_ScanCode": {
          "TBScanSDK": "1.0.0.200108100009",
          "APRemoteLogging": "1.0.0.200227163723",
          "mPaas": "1.0.0.200210192055",
          "APLog": "3.0.2.190701174234",
          "UTDID": "1.0.2.190226130141",
          "APProtocolBuffers": "1.0.1.190906170603",
          "MPMasAdapter": "1.0.0.200116173050",
          "AutoTracker": "1.0.0.190909104429",
          "MPPerformance": "1.0.0.190911163314",
          "TianYan": "1.0.0.191211163039",
          "MPDataCenter": "1.0.0.190917163242",
          "APCrashReporter": "1.0.0.200108195846"
        },
        "mPaaS_LBS": {
          "MPMasAdapter": "1.0.0.200116173050",
          "APRemoteLogging": "1.0.0.200227163723",
          "mPaas": "1.0.0.200210192055",
          "APLog": "3.0.2.190701174234",
          "UTDID": "1.0.2.190226130141",
          "APProtocolBuffers": "1.0.1.190906170603",
          "AutoTracker": "1.0.0.190909104429",
          "MPPerformance": "1.0.0.190911163314",
          "TianYan": "1.0.0.191211163039",
          "MPDataCenter": "1.0.0.190917163242",
          "APCrashReporter": "1.0.0.200108195846",
          "MPMgsAdapter": "1.0.0.191111163231",
          "APMobileNetwork": "1.0.0.200219172832",
          "SecurityGuardSDK": "2.2.3.190326110928",
          "APSecurityUtility": "1.2.0.171012202618",
          "APOpenSSL": "1.0.0.190226125531",
          "MPLBSAdapter": "1.0.0.190906194511",
          "APMobileLBS": "1.0.1.200225160238",
          "AMapFoundationKit": "1.0.0.190918200003",
          "MAMapKit": "2.4.0.190918200148",
          "Nebula": "1.0.0.190909132436",
          "APMobileFramework": "1.0.0.200221200344",
          "NebulaSDK": "1.0.0.191121152832",
          "NebulaPoseidon": "1.3.0.191121152832",
          "NebulaAppManager": "1.3.0.200211160554",
          "APWebImage": "1.0.0.190906190219",
          "NebulaKernel": "1.0.0.190906170603",
          "AntUI": "1.0.0.190906150048",
          "AntUIShellForMpass": "1.0.0.200109095318",
          "MPBadgeService": "1.0.0.190909104525"
        },
        "mPaaS_BadgeService": {
          "MPBadgeService": "1.0.0.190909104525",
          "MPDataCenter": "1.0.0.190917163242",
          "mPaas": "1.0.0.200210192055",
          "APLog": "3.0.2.190701174234"
        },
        "mPaaS_MobileFramework": {
          "APMobileFramework": "1.0.0.200221200344",
          "mPaas": "1.0.0.200210192055",
          "APLog": "3.0.2.190701174234",
          "APRemoteLogging": "1.0.0.200227163723",
          "UTDID": "1.0.2.190226130141",
          "APProtocolBuffers": "1.0.1.190906170603"
        },
        "mPaaS_CommonUI": {
          "APCommonUI": "1.0.0.190917175635",
          "AntUI": "1.0.0.190906150048",
          "AntUIShellForMpass": "1.0.0.200109095318",
          "MPBadgeService": "1.0.0.190909104525",
          "MPDataCenter": "1.0.0.190917163242",
          "mPaas": "1.0.0.200210192055",
          "APLog": "3.0.2.190701174234"
        },
        "mPaaS_Multimedia": {
          "APMultimedia": "1.0.0.190916155142",
          "APMobileNetwork": "1.0.0.200219172832",
          "SecurityGuardSDK": "2.2.3.190326110928",
          "APSecurityUtility": "1.2.0.171012202618",
          "mPaas": "1.0.0.200210192055",
          "APLog": "3.0.2.190701174234",
          "APOpenSSL": "1.0.0.190226125531",
          "APMobileFramework": "1.0.0.200221200344",
          "APRemoteLogging": "1.0.0.200227163723",
          "UTDID": "1.0.2.190226130141",
          "APProtocolBuffers": "1.0.1.190906170603",
          "APConfig": "1.0.0.200116100859",
          "APLongLinkService": "1.0.0.190917192001",
          "MPDataCenter": "1.0.0.190917163242",
          "APWebP": "1.0.0.190227112355",
          "MASSProxy": "1.0.0.190906170603",
          "MASSChannel": "1.0.0.190906170603",
          "APMUtils": "1.0.0.190909101809",
          "APMBeauty": "1.0.0.190228140719",
          "APMTaskManager": "1.0.0.190227112538",
          "APMCache": "1.0.0.191022165232",
          "APMImageProcessing": "1.0.0.190909101809",
          "Texel": "1.0.0.190909101809",
          "APMAudioProcessing": "1.0.0.190228140847",
          "NebulaPoseidon": "1.3.0.191121152832",
          "APMCDNImage": "1.0.0.190909101809",
          "MPMgsAdapter": "1.0.0.191111163231",
          "MPMasAdapter": "1.0.0.200116173050",
          "AutoTracker": "1.0.0.190909104429",
          "MPPerformance": "1.0.0.190911163314",
          "TianYan": "1.0.0.191211163039",
          "APCrashReporter": "1.0.0.200108195846"
        },
        "mPaaS_Share": {
          "MPShareKit": "1.0.0.200311215329",
          "APRemoteLogging": "1.0.0.200227163723",
          "mPaas": "1.0.0.200210192055",
          "APLog": "3.0.2.190701174234",
          "UTDID": "1.0.2.190226130141",
          "APProtocolBuffers": "1.0.1.190906170603"
        },
        "mPaaS_Nebula": {
          "NebulaBiz": "1.0.0.200226193958",
          "APMobileFramework": "1.0.0.200221200344",
          "mPaas": "1.0.0.200210192055",
          "APLog": "3.0.2.190701174234",
          "APRemoteLogging": "1.0.0.200227163723",
          "UTDID": "1.0.2.190226130141",
          "APProtocolBuffers": "1.0.1.190906170603",
          "APWebImage": "1.0.0.190906190219",
          "APCommonUI": "1.0.0.190917175635",
          "AntUI": "1.0.0.190906150048",
          "APWebP": "1.0.0.190227112355",
          "APBusinessSchemeHandlers": "1.0.0.190906160442",
          "Nebula": "1.0.0.190909132436",
          "APMobileNetwork": "1.0.0.200219172832",
          "SecurityGuardSDK": "2.2.3.190326110928",
          "APSecurityUtility": "1.2.0.171012202618",
          "APOpenSSL": "1.0.0.190226125531",
          "NebulaSDK": "1.0.0.191121152832",
          "NebulaPoseidon": "1.3.0.191121152832",
          "NebulaAppManager": "1.3.0.200211160554",
          "NebulaKernel": "1.0.0.190906170603",
          "APMultimedia": "1.0.0.190916155142",
          "APConfig": "1.0.0.200116100859",
          "APLongLinkService": "1.0.0.190917192001",
          "MPDataCenter": "1.0.0.190917163242",
          "MASSProxy": "1.0.0.190906170603",
          "MASSChannel": "1.0.0.190906170603",
          "APMUtils": "1.0.0.190909101809",
          "APMBeauty": "1.0.0.190228140719",
          "APMTaskManager": "1.0.0.190227112538",
          "APMCache": "1.0.0.191022165232",
          "APMImageProcessing": "1.0.0.190909101809",
          "Texel": "1.0.0.190909101809",
          "APMAudioProcessing": "1.0.0.190228140847",
          "APMCDNImage": "1.0.0.190909101809",
          "NebulaAppBiz": "1.0.0.191021153946",
          "NebulaLogging": "1.0.0.200227131302",
          "AutoTracker": "1.0.0.190909104429",
          "NebulaTinyapp": "1.0.0.191205171437",
          "NebulaConfig": "1.0.0.200220223902",
          "TinyAppCommon": "1.0.0.190906170603",
          "SocketCraft": "1.0.0.190906170603",
          "NebulaNetwork": "1.0.0.200219184233",
          "NebulaSecurity": "1.0.0.190906170603",
          "MPNebulaAdapter": "1.0.0.200227185527",
          "NebulamPaaSBiz": "1.0.0.190906170603",
          "MPMpaaSService": "1.0.0.200116100859",
          "NebulaHeader": "1.0.0.190624195416",
          "MPMasAdapter": "1.0.0.200116173050",
          "MPPerformance": "1.0.0.190911163314",
          "TianYan": "1.0.0.191211163039",
          "APCrashReporter": "1.0.0.200108195846",
          "MPMgsAdapter": "1.0.0.191111163231",
          "MPMssAdapter": "1.0.0.190619161346",
          "AntUIShellForMpass": "1.0.0.200109095318",
          "MPBadgeService": "1.0.0.190909104525"
        },
        "mPaaS_TinyApp": {
          "NebulaBiz": "1.0.0.200226193958",
          "APMobileFramework": "1.0.0.200221200344",
          "mPaas": "1.0.0.200210192055",
          "APLog": "3.0.2.190701174234",
          "APRemoteLogging": "1.0.0.200227163723",
          "UTDID": "1.0.2.190226130141",
          "APProtocolBuffers": "1.0.1.190906170603",
          "APWebImage": "1.0.0.190906190219",
          "APCommonUI": "1.0.0.190917175635",
          "AntUI": "1.0.0.190906150048",
          "APWebP": "1.0.0.190227112355",
          "APBusinessSchemeHandlers": "1.0.0.190906160442",
          "Nebula": "1.0.0.190909132436",
          "APMobileNetwork": "1.0.0.200219172832",
          "SecurityGuardSDK": "2.2.3.190326110928",
          "APSecurityUtility": "1.2.0.171012202618",
          "APOpenSSL": "1.0.0.190226125531",
          "NebulaSDK": "1.0.0.191121152832",
          "NebulaPoseidon": "1.3.0.191121152832",
          "NebulaAppManager": "1.3.0.200211160554",
          "NebulaKernel": "1.0.0.190906170603",
          "APMultimedia": "1.0.0.190916155142",
          "APConfig": "1.0.0.200116100859",
          "APLongLinkService": "1.0.0.190917192001",
          "MPDataCenter": "1.0.0.190917163242",
          "MASSProxy": "1.0.0.190906170603",
          "MASSChannel": "1.0.0.190906170603",
          "APMUtils": "1.0.0.190909101809",
          "APMBeauty": "1.0.0.190228140719",
          "APMTaskManager": "1.0.0.190227112538",
          "APMCache": "1.0.0.191022165232",
          "APMImageProcessing": "1.0.0.190909101809",
          "Texel": "1.0.0.190909101809",
          "APMAudioProcessing": "1.0.0.190228140847",
          "APMCDNImage": "1.0.0.190909101809",
          "NebulaAppBiz": "1.0.0.191021153946",
          "NebulaLogging": "1.0.0.200227131302",
          "AutoTracker": "1.0.0.190909104429",
          "NebulaTinyapp": "1.0.0.191205171437",
          "NebulaConfig": "1.0.0.200220223902",
          "TinyAppCommon": "1.0.0.190906170603",
          "SocketCraft": "1.0.0.190906170603",
          "NebulaNetwork": "1.0.0.200219184233",
          "NebulaSecurity": "1.0.0.190906170603",
          "NebulaSDKPlugins": "1.0.0.200220223902",
          "BeeCityPicker": "1.0.0.190906154709",
          "APMobileLBS": "1.0.1.200225160238",
          "AMapFoundationKit": "1.0.0.190918200003",
          "MAMapKit": "2.4.0.190918200148",
          "SPMTracker": "1.0.0.191211155846",
          "BeePhotoPicker": "1.0.0.190906154709",
          "BeePhotoBrowser": "1.0.0.191205180106",
          "BeeMediaPlayer": "1.0.0.190906154709",
          "TBScanSDK": "1.0.0.200108100009",
          "NebulaHeader": "1.0.0.190624195416",
          "NebulaTinyAppDebug": "1.0.0.190906170603",
          "MPNebulaAdapter": "1.0.0.200227185527",
          "NebulamPaaSBiz": "1.0.0.190906170603",
          "MPMpaaSService": "1.0.0.200116100859",
          "MPMasAdapter": "1.0.0.200116173050",
          "MPPerformance": "1.0.0.190911163314",
          "TianYan": "1.0.0.191211163039",
          "APCrashReporter": "1.0.0.200108195846",
          "MPMgsAdapter": "1.0.0.191111163231",
          "MPMssAdapter": "1.0.0.190619161346",
          "APBLESDK": "1.0.0.190906180126",
          "AOMPFileManager": "1.0.0.190906170603",
          "AOMPDevice": "1.0.0.200116100859",
          "APMap": "1.1.0.190918200501",
          "AMapSearchKit": "1.0.0.190918200148",
          "Lottie": "1.0.0.190829104055",
          "BEEAudioUtil": "1.0.0.190906154709",
          "BeePhoto": "1.0.0.190906154709",
          "BeeCapture": "1.0.0.190906154709",
          "BeeLocationPicker": "1.0.0.200211153736",
          "AntUIShellForMpass": "1.0.0.200109095318",
          "MPBadgeService": "1.0.0.190909104525",
          "TinyappService": "1.0.0.200226153755",
          "MPShareKit": "1.0.0.200311215329",
          "FalconLooks": "1.0.0.190906174604"
        },
        "mPaaS_AliAccount": {
          "Nebula": "1.0.0.190909132436",
          "APMobileFramework": "1.0.0.200221200344",
          "mPaas": "1.0.0.200210192055",
          "APLog": "3.0.2.190701174234",
          "APRemoteLogging": "1.0.0.200227163723",
          "UTDID": "1.0.2.190226130141",
          "APProtocolBuffers": "1.0.1.190906170603",
          "APMobileNetwork": "1.0.0.200219172832",
          "SecurityGuardSDK": "2.2.3.190326110928",
          "APSecurityUtility": "1.2.0.171012202618",
          "APOpenSSL": "1.0.0.190226125531",
          "NebulaSDK": "1.0.0.191121152832",
          "NebulaPoseidon": "1.3.0.191121152832",
          "NebulaAppManager": "1.3.0.200211160554",
          "APWebImage": "1.0.0.190906190219",
          "NebulaKernel": "1.0.0.190906170603",
          "NebulaBiz": "1.0.0.200226193958",
          "APCommonUI": "1.0.0.190917175635",
          "AntUI": "1.0.0.190906150048",
          "APWebP": "1.0.0.190227112355",
          "APBusinessSchemeHandlers": "1.0.0.190906160442",
          "APMultimedia": "1.0.0.190916155142",
          "APConfig": "1.0.0.200116100859",
          "APLongLinkService": "1.0.0.190917192001",
          "MPDataCenter": "1.0.0.190917163242",
          "MASSProxy": "1.0.0.190906170603",
          "MASSChannel": "1.0.0.190906170603",
          "APMUtils": "1.0.0.190909101809",
          "APMBeauty": "1.0.0.190228140719",
          "APMTaskManager": "1.0.0.190227112538",
          "APMCache": "1.0.0.191022165232",
          "APMImageProcessing": "1.0.0.190909101809",
          "Texel": "1.0.0.190909101809",
          "APMAudioProcessing": "1.0.0.190228140847",
          "APMCDNImage": "1.0.0.190909101809",
          "NebulaAppBiz": "1.0.0.191021153946",
          "NebulaLogging": "1.0.0.200227131302",
          "AutoTracker": "1.0.0.190909104429",
          "NebulaTinyapp": "1.0.0.191205171437",
          "NebulaConfig": "1.0.0.200220223902",
          "TinyAppCommon": "1.0.0.190906170603",
          "SocketCraft": "1.0.0.190906170603",
          "NebulaNetwork": "1.0.0.200219184233",
          "NebulaSecurity": "1.0.0.190906170603",
          "NebulaSDKPlugins": "1.0.0.200220223902",
          "BeeCityPicker": "1.0.0.190906154709",
          "APMobileLBS": "1.0.1.200225160238",
          "AMapFoundationKit": "1.0.0.190918200003",
          "MAMapKit": "2.4.0.190918200148",
          "SPMTracker": "1.0.0.191211155846",
          "BeePhotoPicker": "1.0.0.190906154709",
          "BeePhotoBrowser": "1.0.0.191205180106",
          "BeeMediaPlayer": "1.0.0.190906154709",
          "TBScanSDK": "1.0.0.200108100009",
          "NebulaHeader": "1.0.0.190624195416",
          "NebulaTinyAppDebug": "1.0.0.190906170603",
          "MPNebulaAdapter": "1.0.0.200227185527",
          "NebulamPaaSBiz": "1.0.0.190906170603",
          "MPMpaaSService": "1.0.0.200116100859",
          "MPMasAdapter": "1.0.0.200116173050",
          "MPPerformance": "1.0.0.190911163314",
          "TianYan": "1.0.0.191211163039",
          "APCrashReporter": "1.0.0.200108195846",
          "MPMgsAdapter": "1.0.0.191111163231",
          "MPMssAdapter": "1.0.0.190619161346",
          "APBLESDK": "1.0.0.190906180126",
          "AOMPFileManager": "1.0.0.190906170603",
          "AOMPDevice": "1.0.0.200116100859",
          "APMap": "1.1.0.190918200501",
          "AMapSearchKit": "1.0.0.190918200148",
          "Lottie": "1.0.0.190829104055",
          "BEEAudioUtil": "1.0.0.190906154709",
          "BeePhoto": "1.0.0.190906154709",
          "BeeCapture": "1.0.0.190906154709",
          "BeeLocationPicker": "1.0.0.200211153736",
          "AntUIShellForMpass": "1.0.0.200109095318",
          "MPBadgeService": "1.0.0.190909104525",
          "TinyappService": "1.0.0.200226153755",
          "MPShareKit": "1.0.0.200311215329",
          "FalconLooks": "1.0.0.190906174604",
          "NebulaAuth": "1.0.0.190909144131",
          "InsideSDK": "1.0.0.191029191437",
          "NBInsideAccountAdaptor": "1.0.0.191029191437"
        },
        "MPBaseTest": {
          "MPBaseTest": "1.0.0.190912140837",
          "APLog": "3.0.2.190701174234"
        }
      },
      "baseline": "10.1.60",
      "pversion": "28",
      "custom": false,
      "frameworks": [
        "APLog.framework",
        "MPMasAdapter.framework",
        "APRemoteLogging.framework",
        "mPaas.framework",
        "UTDID.framework",
        "APProtocolBuffers.framework",
        "AutoTracker.framework",
        "MPPerformance.framework",
        "TianYan.framework",
        "MPDataCenter.framework",
        "APCrashReporter.framework",
        "APMobileNetwork.framework",
        "SecurityGuardSDK.framework",
        "SGMain.framework",
        "APSecurityUtility.framework",
        "APOpenSSL.framework",
        "MPMgsAdapter.framework",
        "APLongLinkService.framework",
        "MPMssAdapter.framework",
        "TBScanSDK.framework",
        "TBDecodeSDK.framework",
        "MPLBSAdapter.framework",
        "APMobileLBS.framework",
        "AMapFoundationKit.framework",
        "MAMapKit.framework",
        "Nebula.framework",
        "APMobileFramework.framework",
        "NebulaSDK.framework",
        "NebulaPoseidon.framework",
        "NebulaAppManager.framework",
        "APWebImage.framework",
        "NebulaKernel.framework",
        "Masonry.framework",
        "AntUI.framework",
        "MBProgressHUD.framework",
        "AntUIShellForMpass.framework",
        "MPBadgeService.framework",
        "APCommonUI.framework",
        "APMultimedia.framework",
        "APConfig.framework",
        "APWebP.framework",
        "MASSProxy.framework",
        "MASSChannel.framework",
        "APMUtils.framework",
        "APMBeauty.framework",
        "APMTaskManager.framework",
        "APMCache.framework",
        "APMImageProcessing.framework",
        "Texel.framework",
        "APMAudioProcessing.framework",
        "APMCDNImage.framework",
        "MPShareKit.framework",
        "NebulaBiz.framework",
        "APBusinessSchemeHandlers.framework",
        "NebulaAppBiz.framework",
        "NebulaLogging.framework",
        "NebulaTinyapp.framework",
        "NebulaConfig.framework",
        "TinyAppCommon.framework",
        "SocketCraft.framework",
        "NebulaNetwork.framework",
        "NebulaSecurity.framework",
        "MPNebulaAdapter.framework",
        "NebulamPaaSBiz.framework",
        "MPMpaaSService.framework",
        "NebulaHeader.framework",
        "NebulaSDKPlugins.framework",
        "BeeCityPicker.framework",
        "SPMTracker.framework",
        "BeePhotoPicker.framework",
        "BeePhotoBrowser.framework",
        "BeeMediaPlayer.framework",
        "NebulaTinyAppDebug.framework",
        "APBLESDK.framework",
        "AOMPFileManager.framework",
        "AOMPDevice.framework",
        "APMap.framework",
        "AMapSearchKit.framework",
        "Lottie.framework",
        "BEEAudioUtil.framework",
        "BeePhoto.framework",
        "BeeCapture.framework",
        "BeeLocationPicker.framework",
        "TinyappService.framework",
        "FalconLooks.framework",
        "NebulaAuth.framework",
        "InsideMonitor.framework",
        "AliLoginAccount.framework",
        "InsideNet.framework",
        "AliLoginFoundation.framework",
        "InsideSchemeService.framework",
        "Account4InsideService.framework",
        "InsideService.framework",
        "AliUniversalAccount.framework",
        "AliLoginFacade.framework",
        "InsideConfig.framework",
        "InsideTinyAPP.framework",
        "InsideServiceRouter.framework",
        "InsideBridge.framework",
        "InsideUtil.framework",
        "AliLoginAutoLogin.framework",
        "InsideSecurity.framework",
        "AliAutoLogin.framework",
        "InsideLog.framework",
        "InsideCache.framework",
        "InsideLogin.framework",
        "InsideBusCode.framework",
        "InsideDataConfig.framework",
        "ANXOfflinePay.framework",
        "InsideLocation.framework",
        "InsideAccountOpenAuth.framework",
        "AlipaySDK.framework",
        "InsideAccountManage.framework",
        "NBInsideAccountAdaptor.framework",
        "MPBaseTest.framework"
      ],
      "resources": [
        "APRemoteLogging.bundle",
        "APMobileNetwork.bundle",
        "TBScanSDK.bundle",
        "TBDecodeSDK.bundle",
        "AMap.bundle",
        "APMobileFramework.bundle",
        "NebulaSDK.bundle",
        "NebulaAppManager.bundle",
        "NebulaKernel.bundle",
        "APCommonUI.bundle",
        "MPBadgeService.bundle",
        "APMultimedia.bundle",
        "APMUtils.bundle",
        "APMImageProcessing.bundle",
        "Texel.bundle",
        "APMCDNImage.bundle",
        "WeiboSDK.bundle",
        "TencentOpenApi_IOS_Bundle.bundle",
        "MPShareKit.bundle",
        "NebulaPoseidon.bundle",
        "NebulaBiz.bundle",
        "APBusinessSchemeHandlers.bundle",
        "NebulaLogging.bundle",
        "NebulaTinyapp.bundle",
        "NebulaConfig.bundle",
        "TinyAppCommon.bundle",
        "MPInternalPresetApps.bundle",
        "MPNebulaAdapter.bundle",
        "MPInternalPlugins.bundle",
        "NebulaSDKPlugins.bundle",
        "BeeCityPicker.bundle",
        "BeePhotoPicker.bundle",
        "BeePhotoBrowser.bundle",
        "BeeMediaPlayer.bundle",
        "AOMPDevice.bundle",
        "APMap.bundle",
        "BEEAudioUtil.bundle",
        "BeePhoto.bundle",
        "BeeCapture.bundle",
        "BeeLocationPicker.bundle",
        "TinyappService.bundle",
        "FalconLooks.bundle"
      ]
    }
  },
  "recent": "MPTinyAppDemp_plugin"
}