{
	"appId":"570DA89281533",
	"appKey":"570DA89281533_IOS",
	"base64Code":"",
	"bundleId":"com.mpaas.demo",
	"rootPath":"mpaas/ios/570DA89281533-default",
	"workspaceId":"default",
	"rpcGW":"https://cn-hangzhou-mgs-gw.cloud.alipay.com/mgw.htm",
	"mpaasapi":"https://cn-hangzhou-component-gw.cloud.alipay.com/mgw.htm",
	"pushPort":"443",
	"pushGW":"cn-hangzhou-mps-link.cloud.alipay.com",
	"logGW":"https://cn-hangzhou-mas-log.cloud.alipay.com",
	"syncport":"443",
	"syncserver":"cn-hangzhou-mss-link.cloud.alipay.com"
}
