<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>JsApiRuntime</key>
	<dict>
		<key>JsApis</key>
		<array>
			<dict>
				<key>jsApi</key>
				<string>toastTest</string>
				<key>name</key>
				<string>MyJSApi4Toast</string>
			</dict>
			<dict>
				<key>name</key>
				<string>MyJSApi4Toast</string>
				<key>jsApi</key>
				<string>getNetworkTypeTest</string>
			</dict>
			<dict>
				<key>jsApi</key>
				<string>customAPITest</string>
				<key>name</key>
				<string>MPJsApiHandler4CustomAPITest</string>
			</dict>	
			<dict>
				<key>name</key>
				<string>MPJsApi4ShareTinyAppMsg</string>
				<key>jsApi</key>
				<string>shareTinyAppMsg</string>
			</dict>
		</array>
	</dict>
	<key>PluginRuntime</key>
	<dict>
		<key>Plugins</key>
		<array>
			<dict>
				<key>name</key>
				<string>MyTestPlugin</string>
				<key>scope</key>
				<string>session</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>DemoPlugin4SettingClick</string>
				<key>scope</key>
				<string>session</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<string>NO</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</dict>
</plist>
